/* \\\\\\\\\\\\\\\\\\\\\\ TAGS /////////////////////////// */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background-color: rgb(238 , 238 , 238);
  border-radius: 5px;
  font-size: 14pt;
  transition: 0.2s;
}

ol li:nth-child( odd ) {
  background-color: rgb(247 , 247 , 247);
}

ol li:hover {
  background-color: rgb(204 , 204 , 204);
}

ol li.clicked {
  background-color: gray;
  color: white;
}

ol li.completed:before {
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\ ID'S //////////////////////////// */
#lista-tarefas {
  align-items: center;
}

#top-buttons {
  display: flex;
  justify-content: flex-end;
}

#top-buttons button {
  margin-left: 5px;
}

/* \\\\\\\\\\\\\\\\\\\\\\ CLASSES /////////////////////////// */
.completed {
  text-decoration: line-through solid black;
}

.g-col-6 {
  width: 95%;
}
